torch~=1.7.0
baidu-aip
playsound~=1.2.2
sudo apt-get install python3-gst-1.0
argparse~=1.4.0
Pillow~=8.0.0
opencv-python~=4.4.0.46
openpifpaf~=0.11.9
matplotlib~=3.3.2
numpy~=1.18.5
numba~=0.51.2
torchreid~=1.3.3
torchvision~=0.8.1